.page{
width : 950px;
margin : auto;
font-size : 15px;
font-family : 'Source sans Pro',Calibri, Tahama, sans-serif;
border: solid 2px blue;
padding :15px;
background-color: PowderBlue;
}

.infoperso_photo{
height : 290px;}

.infoperso{
float : left;
}

.photo{
float : right;}




.separe1{
width: 100%;
height: 320px;
}
.separe2{
width: 100%;
height: 405px;
}
.separe3{
width: 100%;
height: 90px;
}
.separe4{
width: 100%;
height: 90px;
}
.separe5{
width: 100%;
height: 90px;
}
.separe6{
width: 100%;
height: 150px;
}
.separe7{
width: 100%;
height: 145px;
}

.gauche{
float : left;
width : 50vw;
}
.droite{
float : right;
width : 50vw;
}
.gauche1{
float : right;
width : 30vw;
}
.gauchec{
float : left;
width : 120vw;
}
.droitec{
float : right;
width : 90vw;
}
h3 {
	color:blue;
	text-align:center;
}
h4 {
	color:DarkOrange;
	text-align:center;
	padding: 20px;
}
body{background-color : WhiteSmoke;}

.mdl-slider__container {
    background-color: Khaki !important; /* Met le fond de la barre en blanc */
    position: fixed !important; /* Permet de définir la position de la barre comme fixe */
    top: 0; /* Défini la postion de la barre en haut */
    z-index: 200; /* Une valeur élevée ici permet de s'assurer que l'élément est au dessus des autres */
    width: 100vw; /* Défini la largeur de l'élément comme étant 100% de la largeur de l'écran */
}

.menu{
	margin-top: 30px;
	text-align: center;
}

	

